
graph_storage/*
graph_output/*
*__pycache__*
.env
evaluation/*
logs/
outputs/
output_*/
results/
database_exports/*

# *.json
*.log
*.ipynb

venv/
refractor_working.py
.DS_Store

.last_graph_run_id

